<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br>
      <h1><%= @service.title%></h1>
      <br>
      <h2><%= @service.content%></h2>
      <br>
      <h4>Contacts</h4>
      <p>Email: <%= @service.email%></p>
      <p>Phone: <%= @service.phone%></p>

      <br><hr>
      <a href="/services">Back to Service list</a>
    </div>
  </div>
</div>