<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align:center">Write a Post</h1>
    </div>
    <div class="col-sm-0">

      <form form method="POST" action="/add_new_post" role="form">
        <div class="input-group add-on col-xs-6">
          <span class="input-group-addon" id="basic-addon1">Post Title: </span>
          <input class="form-control input-md" type="text" name="title" value="<%= @post.title %>">
        </div>
        <hr/>
        <div class="input-group add-on col-xs-6">
          <span class="input-group-addon" id="basic-addon1">Content: </span>
          <input class="form-control input-md" type="text" name="content" value="<%= @post.content %>">
        </div>
        <hr/>
        <div class="form-group">
          <div class="col-sm-0">
            <br/>
            <input class="btn btn-small btn-success" name="Save Changes" value="Add New Post" type="submit">
          </div>
        </div>
      </form>

    </div>
  </div>
</div>