<h1>Service details</h1>

<h2><%= @service.title%></h2>

<h3>Content: <%= @service.content%></h3>
<h3>Email: <%= @service.email%></h3>
<h3>Phone: <%= @service.phone%></h3>

<a href="/services">Back to Service list</a>
