<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br/>
      <h1 style="text-align:center">Our Services</h1>
      <br/>
      <h4 style="text-align:center">
      <br/>We help you dream.
      </h4>
      <br/><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% @services.each do |each_service| %>
        <div class="panel panel-success">
          <div class="panel-heading">
            <%= each_service.title %>
          </div>
          <div class="panel-body">
            <p><%= limit_to_num_of_char(each_service.content, 100)%></p>
          </div>
          <div class="panel-footer">
            <a href = "/services/<%= each_service.id%>/details" class="btn">View more details</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br><hr>
      <a href="/">Back to home</a>
    </div>
  </div>

</div>




          
