<h2>Services</h2>

<% @services.each do |each_service| %>
  <div class="service">

    <h3>
      <a href="/services/<%= each_service.title%>/details"><%= each_service.title %></a>
    </h3>

    <p>Service id: <%= each_service.id %></p>
    
  </div>
<% end %>

<a href="/">Back to home</a>
