<h1>Group List and Details</h1>

<% @groups.each do |group| %>
  <div class="group">

    <h3>
      <a href="/groups/<%= group.id%>/details"><%= group.group_name %></a>
    </h3>

    <p>"<%= group.id %>"</p>
  
  </div>

  <hr>
<% end %>

<div class="form-group">
  <div class="col-sm-0">
    <a href="/groups/new"><input class="btn btn-small btn-success" name="Add_Group" value="Add New Group" type="button"></a>
    <!-- <input class="btn btn-small btn-danger" name="Delete_Group" value="Delete Group" type="submit"> -->
  </div>

</div>



