<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <br/>
      <h1>Yay!!!</h1>
      <br/>
      <h2>Successfully joined to Group<br/>"<%= @group.group_name%>"</h2>
      <br/>
      <p>Press this botten to go to Group Page</p>
      <a href="/groups/<%= @group.id%>/details"><button type="button" class="btn btn-primary btn-md">Go in Group Post Page</button></a>
    </div>
  </div>
</div>








