<form form method="POST" action="/groups" role="form">          

    <div class="input-group add-on col-xs-6">
      <span class="input-group-addon" id="basic-addon1">Add Group</span>
      <input class="form-control input-md" type="text" name="group_name" value="<%= @group.group_name %>">
    </div>
    <hr>
    <div class="input-group add-on col-xs-6">
      <span class="input-group-addon" id="basic-addon1">Add City</span>
      <input class="form-control input-md" type="text" name="city" value="<%= @group.city %>">
    </div>
    <hr>
    <div class="input-group add-on col-xs-6">
      <span class="input-group-addon" id="basic-addon1">Add Description</span>
      <input class="form-control input-md" type="text" name="description" value="<%= @group.description %>">
    </div>
    <div class="form-group">
      <div class="col-sm-0">
        <br>
        <input class="btn btn-small btn-success" name="Save Changes" value="Add New Group" type="submit">
      </div>
    </div>   
    
</form>

