<div class="dashboard">
	<div class="row">
		<div class="col-md-3">
			<div class="announcements">
				<p>Hey guys! This is where we're going to put some cool stuff that we want you to know about!</p>
			</div>
		</div>
		<div class="col-md-5">
			<div class="group-message">
				<h3>Group Name</h3><!--<#%= user.memberships or something like that basically loop over all groups they belong to%>-->
				<h4>Post Name</h4><!--<#%= group.post.last.title %> -->
				<p>Butcher cold-pressed viral lo-fi etsy man bun. Typewriter YOLO austin pour-over, artisan keytar listicle tattooed. Blog seitan tofu, heirloom cliche letterpress normcore fashion axe messenger bag next level organic. Leggings 3 wolf moon tilde, raw denim umami forage migas tousled bespoke marfa next level helvetica man bun.
				</p>
			</div>
			<div class="group-message">
				<h3>Group Name</h3><!--<#%= user.memberships or something like that basically loop over all groups they belong to%>-->
				<h4>Post Name</h4><!--<#%= group.post.last.title %> -->
				<p>Butcher cold-pressed viral lo-fi etsy man bun. Typewriter YOLO austin pour-over, artisan keytar listicle tattooed. Blog seitan tofu, heirloom cliche letterpress normcore fashion axe messenger bag next level organic. Leggings 3 wolf moon tilde, raw denim umami forage migas tousled bespoke marfa next level helvetica man bun.
				</p>
			</div>
			<div class="group-message">
				<h3>Group Name</h3><!--<#%= user.memberships or something like that basically loop over all groups they belong to%>-->
				<h4>Post Name</h4><!--<#%= group.post.last.title %> -->
				<p>Butcher cold-pressed viral lo-fi etsy man bun. Typewriter YOLO austin pour-over, artisan keytar listicle tattooed. Blog seitan tofu, heirloom cliche letterpress normcore fashion axe messenger bag next level organic. Leggings 3 wolf moon tilde, raw denim umami forage migas tousled bespoke marfa next level helvetica man bun.
				</p>
			</div>
			<p>Please join a group if you haven't already!</p>
		</div>
		<div class="col-md-4">
			<div class="event">
				<p>Here is where we're going to pull the events happening soonest!</p>
			</div>
			<div class="event">
				<p>Here is where we're going to pull the events happening soonest!</p>
			</div>
		</div>
	</div>
</div>
