<div class="row">
	<div class="col-md-3">
		<div class="announcements"></div>
	</div>
	<div class="col-md-5">
		<div class="group-message">
			<h3>Group Name</h3>
			<h4>Post Name</h4>
			<p>Butcher cold-pressed viral lo-fi etsy man bun. Typewriter YOLO austin pour-over, artisan keytar listicle tattooed. Blog seitan tofu, heirloom cliche letterpress normcore fashion axe messenger bag next level organic. Leggings 3 wolf moon tilde, raw denim umami forage migas tousled bespoke marfa next level helvetica man bun. Authentic bushwick tousled aesthetic wolf, shoreditch pabst ethical mumblecore microdosing letterpress blog tote bag chicharrones. Messenger bag kogi farm-to-table, offal four loko aesthetic kale chips banjo disrupt pour-over gluten-free leggings. Quinoa portland bushwick cronut kinfolk.</p>
		</div>
		<div class="group-message">
			<h3>Group Name</h3>
			<h4>Post Name</h4>
			<p>Butcher cold-pressed viral lo-fi etsy man bun. Typewriter YOLO austin pour-over, artisan keytar listicle tattooed. Blog seitan tofu, heirloom cliche letterpress normcore fashion axe messenger bag next level organic. Leggings 3 wolf moon tilde, raw denim umami forage migas tousled bespoke marfa next level helvetica man bun. Authentic bushwick tousled aesthetic wolf, shoreditch pabst ethical mumblecore microdosing letterpress blog tote bag chicharrones. Messenger bag kogi farm-to-table, offal four loko aesthetic kale chips banjo disrupt pour-over gluten-free leggings. Quinoa portland bushwick cronut kinfolk.</p>
		</div>
		<div class="group-message">
			<h3>Group Name</h3>
			<h4>Post Name</h4>
			<p>Butcher cold-pressed viral lo-fi etsy man bun. Typewriter YOLO austin pour-over, artisan keytar listicle tattooed. Blog seitan tofu, heirloom cliche letterpress normcore fashion axe messenger bag next level organic. Leggings 3 wolf moon tilde, raw denim umami forage migas tousled bespoke marfa next level helvetica man bun. Authentic bushwick tousled aesthetic wolf, shoreditch pabst ethical mumblecore microdosing letterpress blog tote bag chicharrones. Messenger bag kogi farm-to-table, offal four loko aesthetic kale chips banjo disrupt pour-over gluten-free leggings. Quinoa portland bushwick cronut kinfolk.</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="event"></div>
		<div class="event"></div>
	</div>
</div>

