<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Welcome <%= @user.username %></h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <form method="post" action="#" enctype="multipart/form-data" >
        <div class="text-center">
            <img src="public/upload_imgs/<%= @photo %>" class="avatar img-circle img-thumbnail" alt="avatar">
            <h6>Upload a different photo...</h6>
            <input class="form-control" id="user_image" 
                 name="user_image" type="file" required="required"><br>
            <input type="submit" value="Upload Image" name="submit">
        </div>
      </form>
    </div>
    

    <!-- Username -->
    <form method="POST" action="user/dashboard/" role="form">
      <div class="col-lg-8 col-lg-8 col-lg-12 personal-info">
        <br><br>
        <div class="input-group add-on">
          <span class="input-group-addon" id="basic-addon1">username</span>
          <input type="text" class="form-control" name="username" value="<%= @user.username %>">
        </div>
        <br>
        <div class="input-group add-on">
          <span class="input-group-addon" id="basic-addon1">password</span>
          <input type="text" class="form-control" name="password" value="<%= @user.password %>">
        </div>
         <!-- Save and Cancel Button -->
        <div class="form-group">
          <div class="col-sm-0">
            <input class="btn btn-primary btn-sm" value="Save Changes" type="submit">
            <span></span>
            <a href="/user/dashboard"><input class="btn btn-primary btn-sm" value="Cancel" type="button"></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


