<!-- <form class="col-md-8 col-md-offset-2" method="POST" action="/contacts/new" enctype='multipart/form-data'>

  <img src="http://lorempixel.com/200/200/people/4/" class="avatar img-circle img-thumbnail" alt="avatar">
  <input class="form-control" id="user_image" name="user_image" type="file" required="required">
  <div>
      <button class="btn btn-lg btn-primary" type="submit">Upload Images</button>
  </div>

</form> -->


<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <img src="http://lorempixel.com/200/200/people/4/" class="avatar img-circle img-thumbnail" alt="avatar">
        <form action="http://itp.nyu.edu/~rsm347/sinatra/file_upload/save_image" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload image">
        </form>
    </body>
</html>