<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
  <link href="fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
  <link href="stylesheets/animate.min.css" rel="stylesheet" media="screen">
  <link href="stylesheets/owl.theme.css" rel="stylesheet">
  <link href="stylesheets/owl.carousel.css" rel="stylesheet">

  <!-- Colors -->
  <link href="stylesheets/css-index.css" rel="stylesheet" media="screen">
  <!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
  <!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
  <!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
  <!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
  <!-- <link href="css/css-index-yellow.css" rel="stylesheet" media="screen"> -->

  <!-- Google Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
  <link rel="stylesheet" href="/stylesheets/application.css">

  <title>International Student Connection</title>
</head>
<body data-spy="scroll" data-target-"#navbar-scroll">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">USC</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/groups">Groups</a></li>
        <li><a href="/services">Services</a></li> 
        <li><a href="/events">Events</a></li> 
      </ul>
      
      <% if current_user.nil? %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/user/login">Login</a></li>
          <li><a href="/user/sign_up">Sign Up</a></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/user/<%=current_user.id%>/profile"><%=current_user.username%></a></li>
          <li><a href="/user/sign_out">Sign Out</a></li>
        </ul>
      <% end %>
    </div>
  </nav>
  <%= yield %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="javascript/custom.js"></script>
  <script src="javascript/jquery.sticky.js"></script>
  <script src="javascript/wow.min.js"></script>
  <script src="javascript/owl.carousel.min.js"></script>
  <script src="/javascript/application.js"></script>
</body>
</html>
