<div class="bootstrap-admin-with-small-navbar admin_page">
  <div class="container">
    <!-- left, vertical navbar & content -->
    <div class="row">
      <!-- left, vertical navbar -->
      <div class="col-md-2 bootstrap-admin-col-left">
        <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
          <li class="active">
            <a href="/admin"><i class="glyphicon glyphicon-chevron-right"></i> Dashboard</a>
          </li>
          <li>
            <a href="/admin/events"><i class="glyphicon glyphicon-chevron-right"></i>Events</a><!-- calendar.html -->
          </li>
          <li>
            <a href="/admin/groups"><i class="glyphicon glyphicon-chevron-right"></i>Groups</a>
          </li>
          <li>
            <a href="/admin/users"><span class="badge pull-right"><%= @total_users %></span> Users</a>
          </li>
        </ul>
      </div> 

      <!-- content -->
      <div class="col-md-10">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1>Admin Console</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Announcements</div>
              </div>
              <div class="bootstrap-admin-panel-content text-muted" style="padding: 60px 0; text-align: center">
                <% if @announcement && @announcement.errors.any? %>
                <div class = "errors">
                  <strong>There are some issues with your submission:</strong>
                  <ul>
                    <% @announcement.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                    <% end %>
                  </ul>
                </div>
                <% elsif @announcement && (@success == true) %>
                <div class="alert alert-success">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Success!</strong> Indicates a successful or positive action.
                </div>
                <% end %>
                <div class="row announcement_form">
                  <div class="col-md-6 col-md-offset-3">
                    <p>Create a New Announcement</p>
                    <form method="POST" action="/admin/announcement" role="form" class="form-horizontal">
                      <input type="text" name="title" class="form-control" placeholder="Title">
                      <textarea class="form-control" rows="4" placeholder="Write Announcement Here..." name="content"></textarea>
                      <input type="submit" value="Post" class="btn btn-primary">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>        
</div>

