
    <div class="bootstrap-admin-with-small-navbar">
        <div class="container">
            <!-- left, vertical navbar & content -->
            <div class="row">
                <!-- left, vertical navbar -->
                <div class="col-md-2 bootstrap-admin-col-left">
                    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                        <li>
                            <a href="about.html"><i class="glyphicon glyphicon-chevron-right"></i> About</a>
                        </li>
                        <li class="active">
                            <a href="dashboard.html"><i class="glyphicon glyphicon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-chevron-right"></i>Events</a><!-- calendar.html -->
                        </li>
                        <li>
                            <a href="/admin/users"><span class="badge pull-right"><%= @total_users %></span> Users</a>
                        </li>
                    </ul>
                </div>

                <!-- content -->
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h1>Admin Console</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">Announcements</div>
                                </div>
                                <div class="bootstrap-admin-panel-content text-muted" style="padding: 60px 0; text-align: center">
                                    <p>Create a New Announcement</p>
                                			<form method="POST" action="/admin/announcement" role="form">
		                                    <input type="text" name="title" placeholder="Title">
		                                    <input type="text" name="content" placeholder="Write Announcement Here...">
		                                    <input type="submit" value="Post">
                                		</form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

