.signin_signup_form {
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.announcement {
	background-color: #fec057;
	border-radius: 5px;
	padding: 1em;
	margin-bottom: 2em;
}

.group-message {
	background-color: #e5f3f6;
	margin-bottom: 2em;
	border-radius: 5px;
	padding: 0.5em 1em;
}

.event {
	background-color: #c53e3e;
	border-radius: 5px;
	margin-bottom: 1em;
	padding: 1em;
}

.event_listing {
	text-align: center;
}

.dashboard {
	margin: 1.5em 1em;
}

.announcement_form input{
	margin: 1em 0;
}

.event_form input{
	margin: 1em 0;
}

.navbar {
	margin-bottom: .5em !important;
}

.users_table {
	text-align: center;
}

.blog_to {
	border: 0.1em solid #d7d7d7;
	border-radius: 5px;
	margin: 0 1em ; 
	padding: 1em;
}

.bt_header {
	text-align: center;
}

.post_form * {
	margin: .5em 0;
}

.tag {
	margin: 0;
	padding: 0;
}

.tag_list {
	border: 0.1em solid #d7d7d7;
	border-radius: 5px;
	text-align: center;
	padding: 0.5em 1em;
}